html, body {
  margin: 0;
  padding: 0;
}

section {
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
  font-weight: bolder;
}

/* Listns Styling */

.table {
  margin: 0;
  width: 100%;
}

.listn-col, .note-col {
  display: inline;
  background: transparent;
  opacity: .5;
  width: 33%;
  font-family: 'VT323', monospace;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 0);
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9);
}

.listn-col {
  -webkit-text-stroke: 0.01px rgba(45, 255, 45, 1);
  text-shadow: 1px 1px 0px rgba(0, 255, 0, 0.5);
}

.note-col {
  -webkit-text-stroke: 0.01px rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.listn-col:hover {
  transition: color .5s ease-in-out;
  transition: -webkit-text-stroke .5s ease-in-out;
  text-shadow: 1px 1px 0px rgba(200, 255, 200, 1);
  -webkit-text-stroke: .2px rgba(0, 150, 0, .7);
  color: rgb(0,255,0);
}
.note-col:hover {
  transition: color .5s ease-in-out;
  transition: -webkit-text-stroke .5s ease-in-out;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-stroke: .2px rgba(146, 146, 146, .7);
  color: rgb(255,255,255);
}

.listn-row:hover, .note-row:hover {
  transition: background-color .3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.listn-row, .note-row {
  padding: 10px;
}


  /* Styling for Table Cells */

.artist {
  text-align: left;
}
.work-name {
  text-align: center;
}
.work-type {
  text-align: right;
}

/* 4-Layer "Background Image" Styling */

div.other-direction, div.other-direction2,
div.other-direction3, div.other-direction4 {
  vertical-align: top;
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

div.other-direction::after,  div.other-direction2::after,
div.other-direction3::after, div.other-direction4::after {
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  background-position: 0px 0px;
  background-image: url("cell.png");
  content: "";
}

div.other-direction::after {
  z-index: -1;
  animation: bg-animation 97s cubic-bezier(.76,1,.39,0) infinite;
}

div.other-direction2::after {
  z-index: -2;
  animation: bg-animation2 94s cubic-bezier(.76,1,.39,0) infinite;
}

div.other-direction3::after {
  z-index: -3;
  animation: bg-animation3 91s cubic-bezier(.76,1,.39,0) infinite;
}

div.other-direction4::after {
  z-index: -4;
  animation: bg-animation4 88s cubic-bezier(.76,1,.39,0) infinite;
}

/* Animations */

@keyframes bg-animation {
  0% {background-position: 0px 0px ;}
  50% {background-position: 1000px 1000px;}
  100% {background-position: 0px 0px ;}
}

@keyframes bg-animation2 {
  0% {background-position: 0px 1000px;}
  50% {background-position: 1000px 0px ;}
  100% {background-position: 0px 1000px;}
}

@keyframes bg-animation3 {
  0% {background-position: 1000px 0px;}
  50% {background-position: 0px 1000px ;}
  100% {background-position: 1000px 0px;}
}

@keyframes bg-animation4 {
  0% {background-position: 1000px 1000px;}
  50% {background-position: 0px 0px ;}
  100% {background-position: 1000px 1000px;}
}
