<div class="container">
  <div class="table">

    <!-- New Listn Form -->
    <form class="listn-row" data-ng-model="listnsVm.newListn"
    data-ng-submit="listnsVm.showAdd = !listnsVm.showAdd; listnsVm.addListn()">
      <div class="listn-col" data-ng-click="listnsVm.showAdd = !listnsVm.showAdd;">
        + {{(listnsVm.showAdd) ? "" : "to the list";}}
      </div>
      <input type="text" data-ng-model="listnsVm.newListn.artist" data-ng-show="listnsVm.showAdd">
      <input type="text" data-ng-model="listnsVm.newListn.work" data-ng-show="listnsVm.showAdd">
      <input type="text" data-ng-model="listnsVm.newListn.work_type" data-ng-show="listnsVm.showAdd">
      <button type="submit" style="display:none;">+</button>
    </form>

    <!-- Display all Listns -->
    <div class="listn-row" data-ng-repeat="listn in listnsVm.listns"
      data-ng-mouseout="listnsVm.showNotes[$index] = !listnsVm.showNotes[$index]"
      data-ng-mouseover="listnsVm.showNotes[$index] = !listnsVm.showNotes[$index]"
    >

      <div class="listn-col artist" >
        {{(listn.notes.length) ?
          ( (listnsVm.showNotes[$index]) ? "-" : "+" )
            : "&nbsp;" ;}}
        <div class="listn-col" data-ng-show="listnsVm.editNotes[$index]" data-ng-click="listnsVm.showConfirm[$index] = !listnsVm.showConfirm[$index]">
          x
        </div>
        <div class="listn-col" data-ng-show="listnsVm.showConfirm[$index]" data-ng-click="listnsVm.removeListn(listn.id)">
          Confirm?
        </div>
      </div>

      <div class="listn-col artist" data-ng-hide="listnsVm.editNotes[$index]" data-ng-click="listnsVm.editListn($index, listn.id)">{{listn.artist}}
        &nbsp;
      </div>
      <div class="listn-col work-name" data-ng-hide="listnsVm.editNotes[$index]" data-ng-click="listnsVm.editListn($index, listn.id)">{{listn.work}}
        &nbsp;
      </div>
      <div class="listn-col work-type" data-ng-hide="listnsVm.editNotes[$index]" data-ng-click="listnsVm.editListn($index, listn.id)">{{listn.work_type}}

      </div>
      <form data-ng-submit="listnsVm.updateListn(listn.id)" data-ng-show="listnsVm.editNotes[$index]" style="display: inline;">
        <input type="text" data-ng-model="listnsVm.editListn.artist" >
        <input type="text" data-ng-model="listnsVm.editListn.work" >
        <input type="text" data-ng-model="listnsVm.editListn.work_type" >
        <button type="submit" style="display:none;"></button>
        <div class="listn-col" data-ng-click="listnsVm.editNotes[$index] = !listnsVm.editNotes[$index]">
          hide
        </div>
      </form>

      <div class="notes-table" data-ng-show="listnsVm.showNotes[$index]">
        <div data-ng-repeat="note in listn.notes">
          <div class="note-col">&nbsp;&nbsp;{{note.body}}</div>
        </div>
      </div>

    </div>

  </div>
</div>
